@import '~Root/styles/mixins.less';

:local(.container) {
  width: 100%;
  height: 100vh;
  background-color: #f4f5f9;
}

:local(.navBar) {
  width: 100%;
  height: 72px;
  background-color: white;
}

:local(.info) {
  display: flex;
  margin-top: 37px;
  margin-left: 60px;
  margin-right: 67px;
}
