:local(.container) {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f5f9;
}

:local(.info) {
  display: flex;
  margin-top: 37px;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: center;
  align-items: flex-start;
}
