@import '~Root/styles/mixins.less';

:local(.balance) {
  display: flex;
  padding: 21px 28px;
  align-items: center;

  img {
    width: 47px;
    height: 50px;
    margin-right: 44px;
  }
}

:local(.title) {
  .title();
  font-size: 14.8px;
  padding-bottom: 10px;
}

:local(.balanceNumber) {
  color: #5093e4;
  font-weight: 600;
  font-size: 16.3px;
  font-family: "Helvetica Bold";
}
