@import '~Root/styles/mixins';

:local(.container) {
  margin-top: 10px;
  text-align: center;
}

:local(.title) {
  color: @blue;
  padding: 35px;
  font-size: 30px;
  font-weight: bold;
  font-family: SFProText;
}

:local(.privateKeyContainer) {
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.privateKey) {
  font-size: 14px;
  padding-top: 20px;
}

:local(.icon) {
  cursor: pointer;
  padding-top: 18px;
  padding-left: 15px;
}

:local(.button) {
  .smallButton();

  width: 112px;
  height: 44px;
  margin-top: 25px;
}
