@import '~Root/styles/mixins';

:local(.container) {
  padding: 100px 40px 0 40px;
}

:local(.result) {
  display: flex;
  margin-bottom: 20px;
}

:local(.title) {
  .title();
  display: inline;
  font-size: 18px;
  padding-top: 5px;
  padding-left: 15px;
}

:local(.privateKeyContainer) {
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.text) {
  color: @grey;
  font-size: 16px;
  text-align: center;
  word-break: break-all;
  padding: 20px 20px 10px 0;
}

:local(.privateKey) {
}

:local(.icon) {
  cursor: pointer;
  padding-top: 18px;
  padding-left: 15px;
}

:local(.button) {
  width: 98px;
  color: @blue;
  height: 34.2px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 40px;
  border-radius: 2.3px;
  background-color: #e1efff;
  font-family: "Helvetica bold";
  transition: background-color 300ms;

  &:hover {
    background-color: darken(#e1efff, 10%);
  }
}

@media only screen and (max-width: 500px) {
  :local(.privateKeyContainer) {
    flex-direction: column;
  }
}
