@import '~Root/styles/mixins';

:local(.container) {
  margin: 40px 53px;
}

:local(.title) {
  .title();
  font-size: 22px;
  padding-bottom: 42px;
}

:local(.inputContainer) {
  display: flex;
  align-items: center;
}

:local(.eye) {
  cursor: pointer;
  margin: 0 0 0 10px;
}

:local(.label) {
  color: #5e6ea7;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 13px;
  font-family: SFProText;
}

:local(.input) {
  width: 400px;
  height: 44px;
  font-size: 14px;
  padding-left: 15px;
  border-radius: 3px;
  transition: border 600ms;
  background-color: #f4f5f9;
  border: 2px solid #f4f5f9;

  &::placeholder {
    color: #9199b6;
  }

  &:active, &:focus {
    border: 2px solid @blue;
  }
}

:local(.error) {
  color: #e00543;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 600;
}

:local(.button) {
  .smallButton();

  width: 112px;
  height: 44px;
  margin-top: 25px;
}
