@import '~Root/styles/mixins';

:local(.container) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

:local(.line) {
  width: 100%;
  height: 2px;
  margin-top: 45px;
  background-color: #eee;
}

:local(.text) {
  color: @grey;
  padding: 12px;
  font-size: 20px;
  text-align: center;
}
