@import '~Root/styles/mixins.less';

:local(.page) {
  display: flex;
}

:local(.container) {
  padding: 84px 150px 0 72px;
}

:local(.title) {
  font-size: 27px;
  font-weight: bold;
  color: @page-title;
  margin-bottom: 15px;
  font-family: SFProText;
}

:local(.links) {
  width: 388px;
  display: flex;
  flex-direction: row;
  padding: 10px 5px 5px 0;
  justify-content: space-between;

  a {
    color: #9199b6;
    font-size: 14px;
    transition: color 300ms;

    &:hover, &:active {
      color: #333;
    }
  }
}

@media only screen and (max-width: 600px) {
  :local(.container) {
    padding: 20px;
  }
}
