@import '~Root/styles/mixins';

:local(.container) {
  height: 43px;
  display: flex;
  min-width: 100%;
  position: relative;
  align-items: center;
  border-top: 1px solid #f4f4f4;
}

:local(.height) {
  left: 22px;
  color: #262728;
  font-size: 10px;
  font-weight: 600;
  position: absolute;
  font-family: "Helvetica Roman";
}

:local(.hash) {
  left: 60px;
  color: @blue;
  font-size: 10px;
  line-height: 1.67;
  position: absolute;
  padding-left: 30px;
  transition: color 300ms;
  font-family: "Helvetica Roman";

  &:hover, &:active {
    color: darken(@blue, 10%);
  }
}

:local(.shortHash) {
  left: 60px;
  color: @blue;
  display: none;
  font-size: 10px;
  line-height: 1.67;
  position: absolute;
  padding-left: 30px;
  transition: color 300ms;
  font-family: "Helvetica Roman";

  &:hover, &:active {
    color: darken(@blue, 10%);
  }
}

:local(.value) {
  left: 480px;
  color: #262728;
  font-size: 10px;
  position: absolute;
  font-family: "Helvetica Roman";
}

:local(.shortValue) {
  left: 480px;
  color: #262728;
  display: none;
  font-size: 10px;
  position: absolute;
  font-family: "Helvetica Roman";
}

:local(.time) {
  left: 540px;
  color: #262728;
  font-size: 10px;
  position: absolute;
  padding-left: 30px;
  font-family: "Helvetica Roman";
}

:local(.arrow) {
  left: 650px;
  position: absolute;
}
